In [1]:
# import libraries
import pandas as pd
import datetime

In [2]:
# load data
nasdaq_df = pd.read_csv("../Data/Polished/nasdaq_2010_mid.csv")
nasdaq_df["Date"] = pd.to_datetime(nasdaq_df["Date"])
nasdaq_df

,Date,Low,Open,Volume,High,Close,Adjusted Close,Ticker Symbol
0,2010-01-15,5.430000,5.640000,10985300.0,5.840000,5.500000,5.185079,AAL
1,2010-03-15,7.720000,7.880000,4790900.0,7.930000,7.900000,7.447659,AAL
2,2010-04-15,7.250000,7.470000,15963500.0,7.490000,7.410000,6.985714,AAL
3,2010-06-15,9.830000,9.830000,15766900.0,10.510000,10.460000,9.861075,AAL
4,2010-07-15,8.850000,9.270000,6418800.0,9.290000,9.110000,8.588376,AAL
...,...,...,...,...,...,...,...,...
150938,2021-10-15,39.450001,40.770000,338800.0,42.110001,39.549999,39.549999,ZUMZ
150939,2021-11-15,50.639999,51.730000,183700.0,52.040001,51.070000,51.070000,ZUMZ
150940,2021-12-15,45.610001,46.840000,305300.0,47.889999,47.549999,47.549999,ZUMZ
150941,2022-02-15,43.939999,43.939999,224200.0,45.709999,45.480000,45.480000,ZUMZ
150942,2022-03-15,40.099998,40.250000,500200.0,41.430000,41.090000,41.090000,ZUMZ

In [3]:
# extract day, month, and year value from datetime objects
day = nasdaq_df["Date"].dt.day
month = nasdaq_df["Date"].dt.month
year = nasdaq_df["Date"].dt.year

In [4]:
# insert day, month, and year values back to the dataframe as separate columns
nasdaq_df.insert(1, "Year", year)
nasdaq_df.insert(1, "Month", month)
nasdaq_df.insert(1, "Day", day)

# preview
nasdaq_df

,Date,Day,Month,Year,Low,Open,Volume,High,Close,Adjusted Close,Ticker Symbol
0,2010-01-15,15,1,2010,5.430000,5.640000,10985300.0,5.840000,5.500000,5.185079,AAL
1,2010-03-15,15,3,2010,7.720000,7.880000,4790900.0,7.930000,7.900000,7.447659,AAL
2,2010-04-15,15,4,2010,7.250000,7.470000,15963500.0,7.490000,7.410000,6.985714,AAL
3,2010-06-15,15,6,2010,9.830000,9.830000,15766900.0,10.510000,10.460000,9.861075,AAL
4,2010-07-15,15,7,2010,8.850000,9.270000,6418800.0,9.290000,9.110000,8.588376,AAL
...,...,...,...,...,...,...,...,...,...,...,...
150938,2021-10-15,15,10,2021,39.450001,40.770000,338800.0,42.110001,39.549999,39.549999,ZUMZ
150939,2021-11-15,15,11,2021,50.639999,51.730000,183700.0,52.040001,51.070000,51.070000,ZUMZ
150940,2021-12-15,15,12,2021,45.610001,46.840000,305300.0,47.889999,47.549999,47.549999,ZUMZ
150941,2022-02-15,15,2,2022,43.939999,43.939999,224200.0,45.709999,45.480000,45.480000,ZUMZ
150942,2022-03-15,15,3,2022,40.099998,40.250000,500200.0,41.430000,41.090000,41.090000,ZUMZ

In [5]:
nasdaq_df.dtypes

Date              datetime64[ns]
Day                        int64
Month                      int64
Year                       int64
Low                      float64
Open                     float64
Volume                   float64
High                     float64
Close                    float64
Adjusted Close           float64
Ticker Symbol             object
dtype: object

In [6]:
nasdaq_df.to_csv("../Data/Polished/nasdaq_2010_mid_separate_year_month_day.csv", index = False)