In [1]:
# import necessary libraries
import pandas as pd # pd is the convention to import pandas as
import datetime

# Data Overview

In [2]:
# read data
prices_df = pd.read_csv("../Data/stock_prices.csv")

In [3]:
# DO NOT INCLUDE IN FINAL PYTHON CODE
# preview data
prices_df

,RowId,Date,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,Target
0,20211206_1301,2021-12-06,1301,2982.0,2982.0,2965.0,2971.0,8900,1.0,NaN,False,-0.003263
1,20211206_1332,2021-12-06,1332,592.0,599.0,588.0,589.0,1360800,1.0,NaN,False,-0.008993
2,20211206_1333,2021-12-06,1333,2368.0,2388.0,2360.0,2377.0,125900,1.0,NaN,False,-0.009963
3,20211206_1375,2021-12-06,1375,1230.0,1239.0,1224.0,1224.0,81100,1.0,NaN,False,-0.015032
4,20211206_1376,2021-12-06,1376,1339.0,1372.0,1339.0,1351.0,6200,1.0,NaN,False,0.002867
...,...,...,...,...,...,...,...,...,...,...,...,...
111995,20220228_9990,2022-02-28,9990,511.0,518.0,509.0,516.0,120600,1.0,NaN,False,-0.013592
111996,20220228_9991,2022-02-28,9991,823.0,825.0,814.0,822.0,16200,1.0,NaN,False,-0.020581
111997,20220228_9993,2022-02-28,9993,1600.0,1622.0,1600.0,1600.0,4000,1.0,NaN,False,0.005762
111998,20220228_9994,2022-02-28,9994,2568.0,2568.0,2540.0,2565.0,9000,1.0,NaN,False,-0.002341
111999,20220228_9997,2022-02-28,9997,731.0,737.0,726.0,734.0,288100,1.0,NaN,False,-0.030014

# Handling Nulls

In [4]:
# DO NOT INCLUDE IN FINAL PYTHON CODE
# examine the number of nulls
prices_df.isnull().sum()

RowId                    0
Date                     0
SecuritiesCode           0
Open                   284
High                   284
Low                    284
Close                  284
Volume                   0
AdjustmentFactor         0
ExpectedDividend    111497
SupervisionFlag          0
Target                   0
dtype: int64

##### Per the result above, we will not use column ExpectedDividend. We noted the number of nulls in Open, High, Low, and Close to be of somewhat concern, but will proceed regardless.

# Cleaning Data

### Remove Unused Columns

In [5]:
# remove unused column(s)
prices_df = prices_df.drop(['ExpectedDividend'], axis=1)

In [6]:
# DO NOT INCLUDE IN FINAL PYTHON CODE
# preview the dataframe after removed unused column(s)
prices_df.head()

,RowId,Date,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,SupervisionFlag,Target
0,20211206_1301,2021-12-06,1301,2982.0,2982.0,2965.0,2971.0,8900,1.0,False,-0.003263
1,20211206_1332,2021-12-06,1332,592.0,599.0,588.0,589.0,1360800,1.0,False,-0.008993
2,20211206_1333,2021-12-06,1333,2368.0,2388.0,2360.0,2377.0,125900,1.0,False,-0.009963
3,20211206_1375,2021-12-06,1375,1230.0,1239.0,1224.0,1224.0,81100,1.0,False,-0.015032
4,20211206_1376,2021-12-06,1376,1339.0,1372.0,1339.0,1351.0,6200,1.0,False,0.002867

### Reformat Column "Date" into Datetime Format

In [7]:
# convert column "Date" into Datetime format
Datetime = pd.to_datetime(prices_df.Date, infer_datetime_format=True) # we can use infer_datetime_format = True here because the original format is already corresponding to the standard datetime format

# insert the new format into the dataframe
prices_df.insert(2, "Date_Datetime", Datetime, allow_duplicates = False)

###### Why are we keeping the old "Date" column?
###### Datetime objects are proprietary to Python only. So, whenever the dataframe is re-exported, the values will be stored as strings.

In [8]:
# check the result of the conversion (note column Date_Datetime)
prices_df.dtypes

RowId                       object
Date                        object
Date_Datetime       datetime64[ns]
SecuritiesCode               int64
Open                       float64
High                       float64
Low                        float64
Close                      float64
Volume                       int64
AdjustmentFactor           float64
SupervisionFlag               bool
Target                     float64
dtype: object

# Testing Searching Speed

###### We will search for the date 2022/02/28, SecuritiesCode 9997

In [9]:
prices_df

,RowId,Date,Date_Datetime,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,SupervisionFlag,Target
0,20211206_1301,2021-12-06,2021-12-06,1301,2982.0,2982.0,2965.0,2971.0,8900,1.0,False,-0.003263
1,20211206_1332,2021-12-06,2021-12-06,1332,592.0,599.0,588.0,589.0,1360800,1.0,False,-0.008993
2,20211206_1333,2021-12-06,2021-12-06,1333,2368.0,2388.0,2360.0,2377.0,125900,1.0,False,-0.009963
3,20211206_1375,2021-12-06,2021-12-06,1375,1230.0,1239.0,1224.0,1224.0,81100,1.0,False,-0.015032
4,20211206_1376,2021-12-06,2021-12-06,1376,1339.0,1372.0,1339.0,1351.0,6200,1.0,False,0.002867
...,...,...,...,...,...,...,...,...,...,...,...,...
111995,20220228_9990,2022-02-28,2022-02-28,9990,511.0,518.0,509.0,516.0,120600,1.0,False,-0.013592
111996,20220228_9991,2022-02-28,2022-02-28,9991,823.0,825.0,814.0,822.0,16200,1.0,False,-0.020581
111997,20220228_9993,2022-02-28,2022-02-28,9993,1600.0,1622.0,1600.0,1600.0,4000,1.0,False,0.005762
111998,20220228_9994,2022-02-28,2022-02-28,9994,2568.0,2568.0,2540.0,2565.0,9000,1.0,False,-0.002341
111999,20220228_9997,2022-02-28,2022-02-28,9997,731.0,737.0,726.0,734.0,288100,1.0,False,-0.030014

In [13]:
# create datatime object
date_to_find = datetime.datetime(2022, 2, 28)

# find the High stock value
prices_df.loc[(prices_df['Date_Datetime'] == date_to_find) & (prices_df['SecuritiesCode'] == 9997), 'High']

111999    737.0
Name: High, dtype: float64

#### Took 0.9 seconds, satisfactory searching time.